* {
    box-sizing: border-box;
}

#grid-container {
    width: 700px;
    height: 700px;
    display: grid;
}

.btn-menu {
    margin-bottom: 30px;
}

.btn-menu, button {
    margin-right: 10px;
}

.white-bg {
    background-color: white;
}

.black-bg {
    background-color: black;
}